#! Dependências do Composer
# vendor/

#! Arquivos de configuração específicos do ambiente
.env
*.env

#! impede que o deploy envie a pasta de uploads para o servidor e sobreescreva as imagens
/assets/img/uploads



#! pastas de scss
/assets/sass/
/assets/.sass-cache/