        <script>  
        
            //! Abrir e fechar modal de busca do produto
            const searchModal = document.getElementById('searchModal');
            const openSearch = document.getElementById('openSearch');
            const closeSearch = document.getElementById('closeSearch');

            openSearch.addEventListener('click', () => {
                
                searchModal.style.display = 'block';
                console.log('Ícone de busca clicado!');
            });

            closeSearch.addEventListener('click', () => {

                searchModal.style.display = 'none';
            });      


            // Função para remover acentos
            function normalizarTexto(texto) {
                return texto
                    .normalize("NFD") // Decompõe caracteres acentuados
                    .replace(/[\u0300-\u036f]/g, "") // Remove marcas de acento
                    .toLowerCase();
            }

            let produtos = [];

            // Carregar produtos do servidor
            fetch('/admin/produto/json')
                .then(res => res.json())
                .then(data => produtos = data)
                .catch(err => console.error('Erro ao carregar produtos', err));

            const input = document.getElementById('busca_produtos');
            const sugestoes = document.getElementById('sugestoes_produtos');

            input.addEventListener('input', () => {
                
                const termo = normalizarTexto(input.value);
                sugestoes.innerHTML = '';

                if (termo.length > 0) {
                    const resultados = produtos.filter(prod =>
                        normalizarTexto(prod.nome).includes(termo)
                    );

                    resultados.forEach(prod => {
                        const item = document.createElement('a');
                        item.href = `/admin/detalhe-produto/${prod.id}`;
                        item.textContent = prod.nome;
                        item.classList.add('autocomplete-item');
                        sugestoes.appendChild(item);
                    });
                }
            });



            // Nome do usuário vindo do backend
            const userFullName = "{$nome_estabelecimento}";       


            // Divide o nome completo para pegar o primeiro nome
           //const firstName = userFullName.split(' ')[0];

            // Saudação dinâmica com base no horário
            const currentHour = new Date().getHours();
            let salute;

            if (currentHour < 12) {
                salute = "Bom dia";
            } else if (currentHour < 18) {
                salute = "Boa tarde";
            } else {
                salute = "Boa noite";
            }

            // Exibe a saudação com o primeiro nome
            const userSalute = `${salute}, ${userFullName}!`;
            document.getElementById("salute").textContent = userSalute;
            
                  

            //!mascara para preenchimento do input de preço do produto
            const inputPreco = document.getElementById('preco');

            inputPreco.addEventListener('input', function(){
            
            let valorEmReais = inputPreco.value;

            //Remove tudo que não for dígito
            valorEmReais = valorEmReais.replace(/\D/g, '');

            //Converte o valor para centavos e aplica a máscara de moeda
            valorEmReais = (valorEmReais / 100).toFixed(2).replace('.', ',');


            //Adiciona os pontos de separação de milhar
            valorEmReais = valorEmReais.replace(/\B(?=(\d{3})+(?!\d))/g, '.');

            //Atualiza o valor no input
            inputPreco.value = valorEmReais;
            });        

        </script>
    </body>
</html>