        <script>


            // Nome do usuário vindo do backend
            const userFullName = "{$nome_estabelecimento}";       


            // Divide o nome completo para pegar o primeiro nome
           //const firstName = userFullName.split(' ')[0];

            // Saudação dinâmica com base no horário
            const currentHour = new Date().getHours();
            let salute;

            if (currentHour < 12) {
                salute = "Bom dia";
            } else if (currentHour < 18) {
                salute = "Boa tarde";
            } else {
                salute = "Boa noite";
            }

            // Exibe a saudação com o primeiro nome
            const userSalute = `${salute}, ${userFullName}!`;
            document.getElementById("salute").textContent = userSalute;
            
            //sidebar Admin 
         /*  $(document).ready(function(){
                //jquery for toggle sub menus
                $('.sub-btn').click(function(){
                $(this).next('.sub-menu').slideToggle();
                $(this).find('.dropdown').toggleClass('rotate');
                });

                //jquery for expand and collapse the sidebar
                $('.menu-btn').click(function(){
                $('.side-bar').addClass('active');
                $('.menu-btn').css("visibility", "hidden");
                });

                $('.close-btn').click(function(){
                $('.side-bar').removeClass('active');
                $('.menu-btn').css("visibility", "visible");
                });
            });
        */            

             //!mascara para preenchimento do input de preço do produto
             const inputPreco = document.getElementById('preco');

            inputPreco.addEventListener('input', function(){
            
            let valorEmReais = inputPreco.value;

            //Remove tudo que não for dígito
            valorEmReais = valorEmReais.replace(/\D/g, '');

            //Converte o valor para centavos e aplica a máscara de moeda
            valorEmReais = (valorEmReais / 100).toFixed(2).replace('.', ',');


            //Adiciona os pontos de separação de milhar
            valorEmReais = valorEmReais.replace(/\B(?=(\d{3})+(?!\d))/g, '.');

            //Atualiza o valor no input
            inputPreco.value = valorEmReais;
            });        

        </script>
    </body>
</html>