<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Epic Food - Admin</title>   
        <link rel="shortcut icon" href="/cardapiodigital/assets/img/imagens/icon-admin.png" type="image/x-icon">                   
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">  
        <link rel="stylesheet" href="/cardapiodigital/assets/css/sweetalert2.min.css">
        <link rel="stylesheet" href="/cardapiodigital/assets/css/style.css"> 
        <link rel="stylesheet" href="/cardapiodigital/assets/css/navbarAdmin.css">  
        <link rel="stylesheet" href="/cardapiodigital/assets/css/formAdmin.css">     
        <link rel="stylesheet" href="/cardapiodigital/assets/css/login.css">   
        <link rel="stylesheet" href="/cardapiodigital/assets/css/styleAdmin.css">  
        <link rel="stylesheet" href="/cardapiodigital/assets/css/categoriesAdmin.css"> 
        <link rel="stylesheet" href="/cardapiodigital/assets/css/produtosAdmin.css">          
        <script src="/cardapiodigital/assets/js/sweet-alert2.js"></script>
        <script src="/cardapiodigital/assets/js/main.js"></script>   
    </head>
    <body>	
    <div class="container-admin"> 
                  