    {if="$msgErro != ''"}        
        <script>
            msgErro('{$msgErro}');
        </script>
    {/if}

    <form class="form-add" method="POST" action="/cardapiodigital/admin/atualizar-produto/{$produtos.id}">
        <h3>Atualizar Produto</h3>
        <div class="input-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" value="{$produtos.nome}" placeholder="Nome do produto">
        </div>
        <div class="input-group">
            <label for="preco">Preço</label>
            <input type="text" name="preco" id="preco" value='{function="formatarPreco($produtos.preco)"}' placeholder="Preço do produto">
        </div>
       <!-- <div class="input-group">
            <label for="imagem"></label>
            <input type="hidden" name="imagem" id="imagem" value="{$produtos.imagem}">
        </div> -->
        <div class="input-group">
            <label for="descricao">Descrição</label>
            <textarea name="descricao" id="descricao"  cols="30" rows="10"
                placeholder="Descrição do produto">{$produtos.descricao}</textarea>
        </div>
        <div class="input-group">
            <label for="id_categoria">Categoria</label>
            <select name="id_categoria" id="id_categoria"> 
                <option value="{$produtos.id_categoria}">{$produtos.id_categoria}</option>
                {loop="$categorie"}
                    <option value="{$value.id_categoria}">{$value.nome_categoria}</option>
                {/loop}            
            </select>
        </div>
        <div class="input-group">
            <label for="status">Status</label>
            <select name="status" id="status">
                <option value="{$produtos.status}">{$produtos.status}</option>
                <option value="ativo">Ativo</option>
                <option value="inativo">Inativo</option>
            </select>
        </div>
        <div class="form-actions">
            <a href="/cardapiodigital/admin/categorie/{$produtos.id_categoria}" class="btn-form">
                <i class="fas fa-arrow-circle-left btn-icons"></i>
                Cancelar
            </a>
            <button type="submit" class="btn-form">
                <i class="fas fa-plus-circle btn-icons"></i>
                Atualizar
            </button>
        </div>
    </form>