    {if="$msgErro != ''"}        
        <script>
            msgErro('{$msgErro}');
        </script>
    {/if}

    
    <form class="form-add" action="/admin/cadastrar-imagem/{$produtos.id}" method="POST" enctype="multipart/form-data">       
        <h3>Cadastrar Imagem</h3>
        <div class="input-group">
            <label for="image">Selecione uma imagem</label>
            <input type="file" name="imagem" id="imagem">
        </div>

        <div class="form-actions">
            <a onclick="voltar()" class="btn-form">
                <i class="fas fa-arrow-circle-left btn-icons"></i>
                Cancelar
            </a>
            <button type="submit" class="btn-form">
                <i class="fas fa-plus-circle btn-icons"></i>
                Cadastrar
            </button>
        </div>
    </form>