{if="$msgErro != ''"}        
    <script>
        msgErro('{$msgErro}');
    </script>
{/if}


<div class="container-login">
    
    <form method="POST" action="/admin" class="formLogin">
        <div class="logo-index">
            <img src="/assets/img/imagens/icon.svg" width="100px" alt="">
            <h2>QR Code Menu</h2>
        </div>
        <div>
            <input type="text" name="email" placeholder="Digite seu endereço de email" autofocus="true" />
            <span><i class="fa-solid fa-user"></i></span>
        </div>
        <div>
            <input type="password" name="password" placeholder="Digite sua senha" />
            <span><i class="fa-solid fa-lock"></i></span>
        </div>
        <button type="submit" class="btn">Entrar</button>
    </form>
    
</div>


