    {if="$msgSucesso != ''"}        
        <script>
           msgSucesso('{$msgSucesso}');
        </script>       
    {/if}   

    {if="$msgErro != ''"}        
        <script>
           msgErro('{$msgErro}');
        </script>       
    {/if}

    <h3 class="titulo-categoria"> {$nome_categoria}</h3>
    <div class="produtos">
        {if="count($produtos) > 0"}        
            {loop="$produtos"}
                <div class="produto">
                    <div class="dados-produto">                             
                        <div class="img-produto">
                            {if="$value.imagem != ''"}
                                <img id="product-image-{$value.id}" src="/assets/img/uploads/{$value.imagem}" alt="food">
                            {else}
                                <img src="/assets/img/uploads/imagem-padrao.jpeg" alt="">
                            {/if}
                        </div>
                        <div class="info">
                            <h5 class="nome-produto">{$value.nome}</h5>
                            <p><span class="descricao">Descrição:</span> {$value.descricao}</p>
                            <p><span class="preco">Preço: </span> {function="formatarPreco($value.preco)"}</p> 
                            {if="$value.status == 'ativo'"}
                                <p class="status"><span class="status">Status do Produto: </span> {$value.status} <i class="fa-solid fa-circle-check"></i></p>
                            {/if}
                            {if="$value.status == 'inativo'"}
                                <p class="status"><span class="status">Status do Produto: </span> {$value.status} <i class="fa-solid fa-circle-xmark"></i></p>
                            {/if}            
                            <p><span class="categoria">Categoria: </span>{$nome_categoria}</p>
                            <p><span class="date">Data Cadastro: </span>{function="formatarData($value.data_criacao)"}</p>
                            <p><span class="date">Data Atualização: </span>{function="formatarData($value.data_atualizacao)"}</p>
                        </div>
                    </div>
                    <div class="actions-produtos">
                        <a class="btns" href="/admin/cadastrar-imagem/{$value.id}">                             
                            <i class="fa-solid fa-image"></i> 
                            Atualizar Imagem
                        </a>
                        <a class="btns" href="/admin/atualizar-produto/{$value.id}">
                            <i class="fa-solid fa-pen-to-square"></i>                       
                            Atualizar Produto
                        </a>
                        <a class="btns" href="javascript:void(0)" onclick="confirmarExclusao('{$value.id}', '{$value.nome}')">                            
                            <i class="fa-solid fa-trash-can"></i>
                            Excluir Produto
                        </a> 
                        <a class="btns" href="javascript:void(0)" onclick="abrirModalAdicional('{$value.id}')">                            
                            <i class="fa-solid fa-circle-plus"></i>
                            Cadastrar Adicional
                        </a>
                        <a class="btns btn-ver-adicionais" href="/admin/listar-adicionais/{$value.id}">
                            <i class="fa-solid fa-eye"></i>
                            Ver Adicionais
                        </a>
                    </div>
                </div>
            {/loop}
        {else}
            <div class="msg-category">
                <p>Ainda não existem produtos cadastrados.</p>
                <a class="btn" href="/admin/cadastrar-produto">Cadastre aqui!</a>
            </div>
        {/if}
    </div>

    <!-- Modal Cadastrar Adicional -->
    <div id="modal-adicional" class="modal-overlay-adicional">
        <div class="modal-content-adicional">
            <span class="close-modal-adicional" onclick="fecharModalAdicional()">&times;</span>
            <h2>Cadastrar Adicional</h2>
            <form id="form-adicional" method="POST" action="/admin/cadastrar-adicional">
                <input type="hidden" name="id_produto" id="id_produto_adicional">
                <input type="hidden" value="{$id_categoria}"  name="id_categoria">

                <div class="form-group">
                    <label for="nome">Nome do Adicional:</label>
                    <input type="text" name="nome" placeholder="Nome do Adicional" autofocus>
                </div>

                <div class="form-group">
                    <label for="preco">Preço:</label>
                    <input type="text" name="preco" id="preco" placeholder="Preço do Adicional">
                </div>                

                <button type="submit" class="btn">Cadastrar</button>
            </form>
        </div>
    </div>



    


